@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500&family=Tajawal:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 32px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
$secondary_black: #282a2e;
$light_gray: #f4f4f4;
$main_black: #000;
$main_shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$white: #fff;
$border: #ababab;
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  background-color: $main_black;
  height: 300px;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
@mixin blur {
  background: rgba(226, 226, 226, 0.5);
  backdrop-filter: blur(12px);
}
